@charset 'utf-8';

.main_banner{width:100%;margin-top:72px;}
div[class*=banner]{height:418px;background-size:200%;background-repeat:no-repeat;background-position:center;text-indent:-3000px;}
.banner01{background-image:url('../image/main_banner04.png');}