@charset 'utf-8';
.footer{padding:30px 0;background:#444;}
.footer_nav{width:900px;margin:0 auto 10px;}
.footer_nav a,.footer p{font-weight:100;font-size:12px;color:#ccc;}
.footer_nav a:hover{color:white;}
.footer p{font-weight:400;text-align:center;}
.footer_nav a span{display:inline-block;width:1px;margin:0 11px;height:13px;background:#ccc;}